body {
    background-color: rgb(106, 106, 240);
    font: normal 15pt Arial;
}

header {
    text-align: center;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.644);
}

footer {
    text-align: center;
    font-style: italic;
}

div {
    font-family: Arial, Helvetica, sans-serif;
}

select#flista {
    width: 200px;
}