body {
    background-color: rgb(106, 106, 240);
    font: normal 15pt Arial;
}

header {
    text-align: center;

}

section {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.644);
}

footer {
    text-align: center;
    font-style: italic;
}

img {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    display: block;
    margin: auto;
    padding: 10px;
}

div {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}